@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}
:root {
  --black: #0f0f0f;
  --white: #ffffff;
}

.light-mode {
  background-color: var(--white);
}
.light-mode #text {
  color: var(--black);
}
.dark-mode {
  background-color: var(--black);
}
.dark-mode #text {
  color: var(--white);
}
