@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}
:root{
  --black: #0f0f0f;
  --white:#ffffff;
}
body {
  margin: 0;
  background-color:var(--black);
  color: var(--white);
}
.light-mode {
  background-color: var(--white);
  color:var(--black);
}

/* .dark-theme {
  background-color: black;
}
.light-theme {
  background-color: white;
  --para-clr: rgb(31, 26, 26);
} */

/* --bg-clr: rgb(255, 255, 255);
  --para-clr: rgb(31, 26, 26); */